body{
    font-family: monospace;
}

.terminal{
    background: #f4f1e9;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
}

.command{
    padding-bottom: 10px;
}

.command input{
    border-radius: 0;
    margin-bottom: 10px;
}

.command span, .control span{
    margin-right: 5px;
    cursor: pointer;
}

.control{
    margin-top: 30px;
    text-align: right;
}

.control span{
    font-weight: bold;
}

.command span:hover,
.control span:hover{
    text-decoration: underline;
}

.delete-terminal,
.delete-command{
    display: none;
}

#result{
    padding: 20px;
}
