.terminal{
    background: #999;

}

.command{
    border-bottom: 1px dotted #ddd;
}

.command input{
    height: 50px;
    margin-bottom: 10px;
}

.command span, .control span{
    margin-right: 5px;
    cursor: pointer;
}

.control{
    margin-top: 30px;
}

.control span{
    font-weight: bold;
}

.command span:hover,
.control span:hover{
    text-decoration: underline;
}

#result{
    background: #ddd;
}
